@charset "utf-8";
/* CSS Document - Main Stylesheet - base.css */
/* Thad Seaver
Payroll login - Oct 2014 */


/* BODY AND CONTAINER
------------------------------------------- */

body {
	background: #111 url(../images/morning.jpg) no-repeat fixed center center;
	padding: 0;
	margin: 0;
}

#wrapper {
	width: 700px;
	padding: 0 20px 20px;
	margin: 0 auto;
	background-color: #ebebeb;
}

#content-wrap {
	min-height: 200px;
	margin: 20px 0;
}


/* HEADER
------------------------------------------- */

header {
	width: 700px;
	height: 100px;
}

header h1 {
	margin: 0;
	font-size: 3em;
	line-height: 100px;
}


/* CONTENT AREA
------------------------------------------- */

p#greeting {
	font-size: 1.3em;
	margin: 0 0 30px 0;
}